.add{
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #8bc34a;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.flex{
    display: flex;
    gap: 1.5em;
    margin-bottom: 2px;
    justify-content: center;
}
.delete{
    text-decoration: none;
    background: #f44336;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container{
    max-width: 500px;
    background: #fff;
    border-radius: 5px;
    width: 500px;
    height: 250px;
    max-height: 250px;
    padding: 20px;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    /* list-style-position: inside; */
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e4e1e1;
}

.errorRemove {
    font-size: 15px;
    color: red;
    text-align: center;
}

.field-error, input.ng-invalid.ng-touched, input.ng-invalid.ng-dirty,
select.ng-invalid.ng-touched, select.ng-invalid.ng-dirty {
    outline: 0.1rem solid red
}