<h2>AUTH TEST PANEL</h2>

<p>
    {{ profile }}
</p>

<button (click)="auth()">Auth test</button>

<button (click)="logOut()">Logout</button>

<button (click)="claims()">Profile</button>

<button (click)="accessToken()">Access Token</button>

<button (click)="idToken()">Id Token</button>

<button (click)="userProfile()">User Profile</button>

<button (click)="getUserProfile()">Get User Profile</button>

<button (click)="uProfileTest()">uProfileTest</button>

<button (click)="isLoggedIn()">isLoggedIn</button>

<a routerLink="/start">
    <button id="bottone_login_studente" class="Home_button">Indietro</button>
</a>