<h3>Loggato con successo</h3>
<h2>Verrai rediretto a breve. Se il redirect non avviene, clicca per continuare</h2>

<!-- <div *ngIf="profile != undefined">
    <p>
        {{ profile }} <br>
        {{ profile.sub }} <br> 
        {{ profile.given_name }} <br>
        {{ profile.family_name }} <br>
        {{ profile.email }} <br>
        {{ profile.fiscalNumber }}
    </p>
</div> -->

<!-- <button (click)="auth()">Auth test</button>

<button (click)="logOut()">Logout</button>

<button (click)="claims()">Profile</button>

<button (click)="accessToken()">Access Token</button>

<button (click)="idToken()">Id Token</button>

<button (click)="userProfile()">User Profile</button>

<button (click)="getUserProfile()">Get User Profile</button>

<button (click)="uProfileTest()">uProfileTest</button>

<button (click)="isLoggedIn()">isLoggedIn</button>

<button (click)="decodeAT()">decodeAT</button>

<button (click)="decodeIT()">decodeIT</button>

<button (click)="processIdToken()">processIdToken</button>

<button (click)="grantedScopes()">grantedScopes</button> -->

<button (click)="redirect()">redirect</button>

<!-- <a routerLink="/start">
    <button id="bottone_login_studente" class="Home_button">Indietro</button>
</a> -->