<h3>Loggato come commissione</h3>

<a routerLink="/pds">
    <button id="bottone_commissione_pds" class="Home_button">Piani di Studio</button>
</a>
<a routerLink="/regolamenti">
    <button id="bottone_commissione_regolamenti" class="Home_button">Regolamenti</button>
</a>
<a routerLink="/esami">
    <button id="bottone_commissione_esami" class="Home_button">Esami a libera scelta</button>
</a>

<a routerLink="/start">
    <button id="bottone_logout_commissione" class="Home_button">Logout</button>
</a>