<h3 class="title">{{title}}</h3>

<a routerLink="/homes">
    <button id="bottone_login_studente" class="Home_button" (click)="setrank(3)">Login studente</button>
</a>
<a routerLink="/homec">
    <button id="bottone_login_commissione" class="Home_button" (click)="setrank(3)">Login commissione</button>
</a>

<button id="bottone_login_commissione" class="Home_button" (click)="auth()">Auth test</button>

<a routerLink="/auth">
    <button id="bottone_login_commissione" class="Home_button">Auth test route</button>
</a>
