<h3 class="title">Regolamento anno accademico {{anno}}-{{nextYear(anno)}}</h3>
<br>

<div class="container">
    <div class="wrap">
        <h2>Esami primo anno</h2>
    </div>
    <ul>
        <ng-container *ngFor="let esame of primo[0]; index as i" >
            <div class="content">
                <li>
                    <p>{{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}</p>
                </li>
            </div>
        </ng-container>
    </ul>
</div>
<div class="container">
    <div class="wrap">
        <h2>Esami secondo anno</h2>
    </div>
    <ul>
        <ng-container *ngFor="let esame of secondo[0]; index as i" >
            <div class="content">
                <li>
                    <p>{{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}</p>
                </li>
            </div>
        </ng-container>
    </ul>
</div>
<div class="container">
    <div class="wrap">
        <h2>Esami terzo anno</h2>
    </div>
    <ul>
        <ng-container *ngFor="let esame of terzo[0]; index as i" >
            <div class="content">
                <li>
                    <p>{{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}</p>
                </li>
            </div>
        </ng-container>
    </ul>
</div>
<div class="container">
    <div class="wrap">
        <h2>Esami complementari</h2>
    </div>
    <ul>
        <ng-container *ngFor="let esame of comp[0]; index as i" >
            <div class="content">
                <li>
                    <p>{{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}</p>
                </li>
            </div>
        </ng-container>
    </ul>
</div>
<div class="container">
    <div class="wrap">
        <h2 style="text-align: center;" >Numero minimo di CFU per esami Complementari: {{cfumin}}</h2>
    </div>
</div>
<div class="container">
    <div class="wrap">
        <h2 style="text-align: center;" >Numero di CFU per esami Complementari + Libera scelta: {{cfumax}}</h2>
    </div>
</div>

<button id="bottone_commissione_regolamenti_indietro" class="Home_button" (click)="elimina()">Elimina</button>

<a routerLink="/regolamenti">
    <button id="bottone_commissione_regolamenti_indietro" class="Home_button">Indietro</button>
</a>
