<h3 class="title">Regolamento anno accademico {{anno}}-{{nextYear(anno)}}</h3>
<br>
<!-- <h2 class="title">Regolamenti annuali salvati:</h2> -->

<div class="container">
    <div class="wrap">
        <h2>Esami primo anno</h2>
    </div>
</div>
<div class="container">
    <div class="wrap">
        <h2>Esami secondo anno</h2>
    </div>
</div>
<div class="container">
    <div class="wrap">
        <h2>Esami terzo anno</h2>
    </div>
</div>
<div class="container">
    <div class="wrap">
        <h2>Esami complementari</h2>
    </div>
</div>

<a routerLink="/regolamenti">
    <button id="bottone_commissione_regolamenti_indietro" class="Home_button">Indietro</button>
</a>
