<h3 class="title">Regolamenti</h3>
<br>
<h2 class="title">Regolamenti annuali salvati:</h2>

<div class="container">
    <ng-container *ngFor="let regolamento of regolamenti; index as i">
        {{ regolamento.anno }}
        <br/>
    </ng-container>
</div>

<a routerLink="/nuovoregolamento">
    <button id="bottone_commissione_regolamenti_nuovoregolamento" class="Home_button">Nuovo regolamento</button>
</a>

<a routerLink="/homec">
    <button id="bottone_commissione_regolamenti_indietro" class="Home_button">Indietro</button>
</a>
