.title{
    text-align: center;
}

.container{
    max-width: 500px;
    background: #fff;
    border-radius: 5px;
    width: 500px;
    height: 250px;
    max-height: 250px;
    padding: 20px;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    overflow: auto;
}
