<h3 class="title">Piano matricola: {{matricola}},<br>anno accademico {{anno}}-{{nextYear(anno)}}</h3>
<br>

<div class="container">
    <div class="wrap">
        <h2>Esami primo anno</h2>
    </div>
    <ul>
        <ng-container *ngFor="let esame of primo[0]; index as i" class="content">
            <li>
                <p>
                    {{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Pianificato:
                    <input *ngIf="esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" checked="checked">
                    <input *ngIf="!esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" [checked]="esame.pianificato == 'true'">
                    <input type="hidden" name="option" value="{{esame.pianificato}}">
                    &nbsp;&nbsp;&nbsp;
                    Superato:
                    <input *ngIf="esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" checked="checked">
                    <input *ngIf="!esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" [checked]="esame.conseguito == 'true'">
                    <input type="hidden" name="option" value="{{esame.conseguito}}">
                </p>
            </li>
        </ng-container>
    </ul>
</div>
<div class="container">
    <div class="wrap">
        <h2>Esami secondo anno</h2>
    </div>
    <ul>
        <ng-container *ngFor="let esame of secondo[0]; index as i" class="content">
            <li>
                <p>
                    {{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Pianificato:
                    <input *ngIf="esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" checked="checked">
                    <input *ngIf="!esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" [checked]="esame.pianificato == 'true'">
                    <input type="hidden" name="option" value="{{esame.pianificato}}">
                    &nbsp;&nbsp;&nbsp;
                    Superato:
                    <input *ngIf="esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" checked="checked">
                    <input *ngIf="!esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" [checked]="esame.conseguito == 'true'">
                    <input type="hidden" name="option" value="{{esame.conseguito}}">
                </p>
            </li>
        </ng-container>
    </ul>
</div>
<div class="container">
    <div class="wrap">
        <h2>Esami terzo anno</h2>
    </div>
    <ul>
        <ng-container *ngFor="let esame of terzo[0]; index as i" class="content">
            <li>
                <p>
                    {{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Pianificato:
                    <input *ngIf="esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" checked="checked">
                    <input *ngIf="!esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" [checked]="esame.pianificato == 'true'">
                    <input type="hidden" name="option" value="{{esame.pianificato}}">
                    &nbsp;&nbsp;&nbsp;
                    Superato:
                    <input *ngIf="esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" checked="checked">
                    <input *ngIf="!esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" [checked]="esame.conseguito == 'true'">
                    <input type="hidden" name="option" value="{{esame.conseguito}}">
                </p>
            </li>
        </ng-container>
    </ul>
</div>
<div class="container">
    <div class="wrap">
        <h2>Esami complementari</h2>
    </div>
    <ul>
        <ng-container *ngFor="let esame of comp[0]; index as i" class="content">
            <li>
                <p>
                    {{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Pianificato:
                    <input *ngIf="esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" checked="checked">
                    <input *ngIf="!esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" [checked]="esame.pianificato == 'true'">
                    <input type="hidden" name="option" value="{{esame.pianificato}}">
                    &nbsp;&nbsp;&nbsp;
                    Superato:
                    <input *ngIf="esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" checked="checked">
                    <input *ngIf="!esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" [checked]="esame.conseguito == 'true'">
                    <input type="hidden" name="option" value="{{esame.conseguito}}">
                </p>
            </li>
        </ng-container>
    </ul>
</div>
<div class="container">
    <div class="wrap">
        <h2>Esami a libera scelta</h2>
    </div>
    <ul>
        <ng-container *ngFor="let esame of esami[0]; index as i" class="content">
            <li>
                <p>
                    {{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Superato:
                    <input *ngIf="esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" checked="checked">
                    <input *ngIf="!esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" [checked]="esame.conseguito == 'true'">
                    <input type="hidden" name="option" value="{{esame.conseguito}}">
                </p>
            </li>
        </ng-container>
    </ul>
</div>

<div *ngIf="piano != undefined">
    <div *ngIf="!piano[approvatoIndex]">
        <button id="bottone_commissione_pds_indietro" class="Home_button" (click)="approva()">Approva</button>
    </div>
</div>

<div *ngIf="getA()">
    <a routerLink="/pianiapprovati">
        <button id="bottone_commissione_pds_indietro" class="Home_button">Indietro</button>
    </a>
</div>

<div *ngIf="!getA()">
    <a routerLink="/pianiinsospeso">
        <button id="bottone_commissione_pds_indietro" class="Home_button">Indietro</button>
    </a>
</div>
