<div *ngIf="piano != undefined">
    <div *ngIf="!piano[approvatoIndex]; else showApprovato">
        <h1 class="title">Piano in sospeso</h1>
    </div>
    <ng-template #showApprovato>
        <h1 class="title">Piano approvato</h1>
    </ng-template>
</div>
<h3 class="title">Anno accademico {{anno}}-{{nextYear(anno)}}<br>
    Matricola: {{matricola}}<br>
    Nome: {{nome}} {{cognome}}<br>
    Data di invio: {{datainvio}}
    <div *ngIf="piano != undefined">
        <div *ngIf="piano[approvatoIndex]">
            Data di approvazione: {{dataapprovazione}}
        </div>
    </div>
</h3>
<br>

<div *ngIf="piano != undefined">
    <div *ngIf="!piano[approvatoIndex]">
        <div class="container">
            <div class="wrap">
                <h2>Esami primo anno</h2>
            </div>
            <ul>
                <ng-container *ngFor="let esame of primo[0]; index as i" class="content">
                    <li>
                        <div>
                            {{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Pianificato:
                            <input *ngIf="esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" checked="checked">
                            <input *ngIf="!esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" [checked]="esame.pianificato == 'true'">
                            <input type="hidden" name="option" value="{{esame.pianificato}}">
                            &nbsp;&nbsp;&nbsp;
                            Superato:
                            <input *ngIf="esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" checked="checked">
                            <input *ngIf="!esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" [checked]="esame.conseguito == 'true'">
                            <input type="hidden" name="option" value="{{esame.conseguito}}">
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="container">
            <div class="wrap">
                <h2>Esami secondo anno</h2>
            </div>
            <ul>
                <ng-container *ngFor="let esame of secondo[0]; index as i" class="content">
                    <li>
                        <div>
                            {{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Pianificato:
                            <input *ngIf="esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" checked="checked">
                            <input *ngIf="!esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" [checked]="esame.pianificato == 'true'">
                            <input type="hidden" name="option" value="{{esame.pianificato}}">
                            &nbsp;&nbsp;&nbsp;
                            Superato:
                            <input *ngIf="esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" checked="checked">
                            <input *ngIf="!esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" [checked]="esame.conseguito == 'true'">
                            <input type="hidden" name="option" value="{{esame.conseguito}}">
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="container">
            <div class="wrap">
                <h2>Esami terzo anno</h2>
            </div>
            <ul>
                <ng-container *ngFor="let esame of terzo[0]; index as i" class="content">
                    <li>
                        <div>
                            {{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Pianificato:
                            <input *ngIf="esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" checked="checked">
                            <input *ngIf="!esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" [checked]="esame.pianificato == 'true'">
                            <input type="hidden" name="option" value="{{esame.pianificato}}">
                            &nbsp;&nbsp;&nbsp;
                            Superato:
                            <input *ngIf="esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" checked="checked">
                            <input *ngIf="!esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" [checked]="esame.conseguito == 'true'">
                            <input type="hidden" name="option" value="{{esame.conseguito}}">
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="wrap">
        <h2>Esami complementari</h2>
    </div>
    <ul>
        <ng-container *ngFor="let esame of comp[0]; index as i" class="content">
            <li>
                <div *ngIf="piano != undefined">
                    <div *ngIf="!piano[approvatoIndex]">
                        {{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Pianificato:
                        <input *ngIf="esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" checked="checked">
                        <input *ngIf="!esame.pianificato" type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" [checked]="esame.pianificato == 'true'">
                        <input type="hidden" name="option" value="{{esame.pianificato}}">
                        &nbsp;&nbsp;&nbsp;
                        Superato:
                        <input *ngIf="esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" checked="checked">
                        <input *ngIf="!esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" [checked]="esame.conseguito == 'true'">
                        <input type="hidden" name="option" value="{{esame.conseguito}}">
                    </div>
                    <div *ngIf="piano[approvatoIndex] && esame.pianificato">
                        {{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Pianificato:
                        <input type="checkbox" name="option" value="{{esame.pianificato}}" disabled="disabled" checked="checked">
                        <input type="hidden" name="option" value="{{esame.pianificato}}">
                        &nbsp;&nbsp;&nbsp;
                    </div>
                </div> 
            </li>
        </ng-container>
    </ul>
</div>
<div class="container">
    <div class="wrap">
        <h2>Esami a libera scelta</h2>
    </div>
    <ul>
        <ng-container *ngFor="let esame of esami[0]; index as i" class="content">
            <li>
                <div *ngIf="piano != undefined">
                    <div *ngIf="piano[approvatoIndex]">
                        {{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div *ngIf="!piano[approvatoIndex]">
                        {{ esame.exam_name }} {{ esame.exam_code }} {{ esame.exam_cfu }}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Superato:
                        <input *ngIf="esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" checked="checked">
                        <input *ngIf="!esame.conseguito" type="checkbox" name="option" value="{{esame.conseguito}}" disabled="disabled" [checked]="esame.conseguito == 'true'">
                        <input type="hidden" name="option" value="{{esame.conseguito}}">
                    </div>
                </div>
            </li>
        </ng-container>
    </ul>
</div>

<div *ngIf="piano != undefined">
    <div *ngIf="!piano[approvatoIndex]">
        <button id="bottone_commissione_pds_indietro" class="Home_button" (click)="approva()">Approva</button>
        <button id="bottone_commissione_pds_indietro" class="Home_button" (click)="rifiuta()">Rifiuta</button>
    </div>
</div>

<div *ngIf="getA()">
    <a routerLink="/pianiapprovati">
        <button id="bottone_commissione_pds_indietro" class="Home_button">Indietro</button>
    </a>
</div>

<div *ngIf="!getA()">
    <a routerLink="/pianiinsospeso">
        <button id="bottone_commissione_pds_indietro" class="Home_button">Indietro</button>
    </a>
</div>
